<h1 class='header-text'>  Climblog.org development log </h1>

<div class='description'>
	<p> Nov.22 2015 </p>
	<p> Today has been very productive!
	I added the public climber page; figured out a way to differentiate records belong to public climber or private climber and added delelet and edit features for records. The tricky part was to make everyone can view public records but only the owner can edit and delete them. </p>
	<p> At this point, after rushing for 3 weekends the skeleton features of Climblog.org is now in place. Climbers can now use this site to log climbing records, edit records and get a generic report. And climber can choose go public with their climbing log, so everyone can see their training and progress or keep their log private. Gennerally, Climblog.org has accplished what I set out to do! </p>
	<p> The next phase will be about catching up the things I missed out while rushing for features, primarly unit test and refactoring.</p>
	<p> At the moment, stuff I want to refactor: 
		<ul>
			<li> moving database calls from views to decorator </li>
			<li> Figure out a better way to pass object/object_id to controllers</li>
		</ul>
	</p>
	<p> Those probably will takes my two weekends to do. So no new features in weeks. And after that I need to pick a front end framework to make the site looks better </p>

