<h1 class='header-text'> Welcome to Climblog.org </h1>

<div class='description'>
	<p> Climblog.org is a free open source web application for climbers to track their training history for better performance. </p>

	<p> Our goal is to provide climbers an easy to use tool to keep their every trainning data and generate quantitative report any where any time.</p>

	<p> This project is at it's very very early stage. Any kind of help will be much appreicated. If you have any new idea, suggestion, question or a bug to report about Climblog.org, please 
	 <a href="mailto:climblog.dev@gamil.com">send us an email</a>. 
	</p>

	<p> If you are a developer, check our source code at 
		<a href="https://github.com/RundongGao/logging_rocks">github.com/RundongGao/logging_rocks</a>
  </p>
</div>

<div class='description'>
	<h3> Next comming feature : </h3>
	<ul>
		<li class='crossed'> Open Registration!</li>
		<li class='crossed'> Add Trainings and Fishes </li>
		<li> delele and edit records </li>
    	<li>Better Looking Layout!</li>
	</ul>
</div>

<h5> Happy Climbing </h5>

<div class='signature'>
<p> Updated by Rundong Gao</p>
<p> Nov. 15th 2015 </p>
</div>




