<h1 class='header-text'> Welcome to Climblog.org </h1>

<div class='description'>
	<p> Climblog.org is a free open source web application for climbers to track their training history for better performance. </p>

	<p> Our goal is to provide climbers an easy to use tool to keep their every trainning data and generate quantitative report any where any time.</p>

	<p> At this moment climbers can sign up and start to track their climbing logs on this site and get a generic report. </p>

	<p> Also climbers can choose to go public with their climbing logs, so everyone can see their training and progress. </p>

	<p> This project is at it's very very early stage. Any kind of help will be much appreicated. If you have any new idea, suggestion, question or a bug to report about Climblog.org, please 
	 <a href="mailto:climblog.dev@gamil.com">send us an email</a>. 
	</p>

	<p>
		We are currently working on optimizing and adding unit test system to our side to provide
		more stable services to climbers along our continuing development. 
	</p>

	<p> If you are a developer, check our source code at 
		<a href="https://github.com/RundongGao/logging_rocks">github.com/RundongGao/logging_rocks </a> and our 
			<%= link_to 'development log', development_path%>
  </p>
</div>

<div class='description'>
	<h3> Next comming feature : </h3>
	<ul>
		<li class='crossed'> Open Registration!</li>
		<li class='crossed'> Add Trainings and Fishes </li>
		<li class='crossed'> Delele and Ddit records </li>
		<li class='crossed'> Better navigation between pages </li> 
		<li>Mailer to Climber(user) </li>
		<li>Alter Climber(user) Settingr</li>
    	<li>Better Looking Layout!</li>
    	
	</ul>
</div>

<h5> Happy Climbing </h5>

<div class='signature'>
<p> Updated by Rundong Gao</p>
<p> Nov. 29 2015 </p>
</div>




